<h2>在父子组件之间传递状态</h2>

<section class="card">{{!-- 1 --}}
    
    {{user-list/user-header store=store model=model selectedUser=selectedUser}}

    <div class="grid">
      <ul class="cell -4of12" local-class="user-list">{{!-- 1.2 --}}
        {{#if selectedUser}}
          <button type="button" class="btn btn-primary btn-block" onclick={{action "clearUser"}}>
            重置
          </button>
        {{/if}}
        {{#each model as |user|}}
          <li local-class="user-item" onclick={{action "selectUser" user}}>{{user.login}}</li>
        {{/each}}
      </ul>

      {{user-list/user-item store=store model=model selectedUser=selectedUser}}
    </div>

</section>
