<div local-class="main-right">
    <h3>menu-service -> menu-panel page</h3>

    <button type="button" name="button" {{action 'hide'}} disabled={{unless menuCtrl.isShow 'disabled'}}>隐藏菜单</button>
    &nbsp;&nbsp;
    <button type="button" name="button" {{action 'show'}} disabled={{if menuCtrl.isShow 'disabled' ''}}>显示菜单</button>
    &nbsp;&nbsp;
    <button type="button" name="button" {{action 'changeMenu'}}>切换菜单</button>

</div>
